:root {
    background-color: black;
    color: skyblue;
    /* specify size */
}

html, body {
    height: 100%;
    /* background: linear-gradient(to top right, green, blue, green, blue);
    That's super cool */
}

header {
    border: 1px solid white;
}

/* Flexbox Layout */
    /* Use px or em for scaling. Will be a long page. */

body {
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    height: 5%;
}

body > div {
    display: flex;
    flex-wrap: column wrap;
}

nav {
    width: 20%;
}

main {
    width: 80%;
}

footer {
    width: 100%;
    height: 5%;
}

/* End Flexbox Layout */

/* Side Nav */
    /* Needs cleanup from tutorial used */
    /* Add toggle. Should cover 3-5% of left side. Click should expand sidenav. */

.sidenav {
    background-color: rgba(0, 0, 139, .1);
    width: 250px;
    position: relative;
    top: 0;
    bottom: 5%;
    /* box-shadow: 0px 0px 5px rgba(17, 255, 0, 0.7); */
    border: 1px solid rgba(17, 255, 0, 0.3);
}

.sidenav ul {
    position: relative;

}

a {
    display: flex;
    align-items: center;
    color: rgb(17,255,0);
    padding: 10px 30px;
    height: 40px;
    transition: 0.5s ease;
    border-radius: 0 30px 30px 0;
}

.sidenav ul li a:hover {
    background: rgba(0, 0, 0, .7);
}

.sidenav ul ul {
    position: absolute;
    left: 250px; /* Equals .navbar width */
    width: 200px;
    top: 0;
    display: none;
    background: darkblue;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(17, 255, 0, 0.3);
}

.sidenav ul span {
    position: absolute;
    right: 20px;
    font-size: 1.5em;
}

.sidenav ul .dropdown {
    position: relative;
}

.sidenav ul .dropdown:hover > ul {
    display: initial;
}

.sidenav ul .dropdown_two ul {
    position: absolute;
    left: 200px;
}

.sidenav ul .dropdown_two:hover > ul {
    display: initial;
}

/* End Side Nav */

main {
    border: 1px solid lightskyblue;
}

.hardware {
    color: royalblue;
}

.peripherals {
    color: royalblue;
}

.connectors {
    color: royalblue;
}

.nightmares {
    color: royalblue;
}

.os {
    color: royalblue;
}

.os .windows {
    background-color: blue;
    color: white;
    border: 1px dotted white;
}

.windows.cli{
    background-color: blue;
    color: white;
    border: 1px solid gray;
}

.os .linux {
    background-color: black;
    color: rgb(17,255,0);
    border: 1px dotted rgb(17,255,0);
}

.linux.cli {
    background-color: black;
    color: rgb(17,255,0);
    border: 1px solid white;
}

.os .macos {
    background-color: white;
    color: black;
    border: 1px dotted black;
}

.macos.cli {
    background-color: white;
    color: black;
    border: 1px solid gray;
}

.networking {
    color: royalblue;
}

.security {
    color: royalblue;
}

.fixme {
    color: royalblue;
}

.virtualization {
    color: royalblue;
}

footer {
    border: 1px solid white;
}